<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fraud Detection</title>
  <link rel="stylesheet" href="/static/css/style.css">


</head>

<body>

  

  <center><h1 class="glitch">Welcome to Fraud Detection</h1></center>
 
  <div class="scanlines"></div></center>


  <div class="container">

      <a href="{{ url_for('predict') }}">
        <button class="button">Click to Enter</button>
      </a>

  </div>
</body>

</html>